// Header, footer, navigation, section 
body {
  margin: 0;
}
.brand-hero {
  background: url(http://graphics.web.com/brand-guidelines/hero-test.png) no-repeat center; 
  background-size: cover;
  height: 464px;
}
.custom-container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.circle {
  background: url(http://graphics.web.com/brand-guidelines/ellipse.png) no-repeat center;
  background-size: cover;
  width: 100%;
  max-width: 715px;
  height: 464px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.circle-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 464px;
}
h1.hero-copy {
  font-size: 36px;
  font-weight: 300;
  color: #fff !important;
  margin-bottom: 24px;
}
p.hero-copy {
  font-size: 22px;
  font-weight: 300;
  color: #fff !important;
}
.hide-on-mobile {
  display: inherit;
}
@media only screen and (max-width: 672px) {
  .custom-container {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .brand-hero {
    height: 364px;
  }
  .circle {
    justify-content: center;
    height: 364px;
  }
  .hide-on-mobile {
    display: none;
  }
  h1.hero-copy, p.hero-copy  {
    padding: 0 15px !important;
  }
}